<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/katchaka</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

	<mapping class="fr.humanbooster.franck.katchaka.business.Genre"/>
	<mapping class="fr.humanbooster.franck.katchaka.business.Interet"/>
	<mapping class="fr.humanbooster.franck.katchaka.business.Invitation"/>
	<mapping class="fr.humanbooster.franck.katchaka.business.Message"/>
	<mapping class="fr.humanbooster.franck.katchaka.business.Personne"/>
	<mapping class="fr.humanbooster.franck.katchaka.business.Statut"/>
	<mapping class="fr.humanbooster.franck.katchaka.business.VieCommune"/>
	<mapping class="fr.humanbooster.franck.katchaka.business.Ville"/>
	
    </session-factory>
</hibernate-configuration>

